<app-header></app-header>
<div class="flex flex-col justify-center">
    <div class="flex justify-center mt-14">
        <h1>Profil Utilisateur</h1>
    </div>
    <div class="mt-15 flex flex-col justify-center items-center">
        <form (ngSubmit)="onSubmit()">
            <div class="flex flex-col my-12">
                <input type="text" formControlName="username" class="form-control input_borderblack" id="username" placeholder="username" required>
                <input type="text" formControlName="mail" class="form-control my-5 input_borderblack" id="mail" placeholder="email@email.fr" required>
            </div>
        </form>
        <button type="submit" class="button_bgpurple_colorwhite" [disabled]="!registerForm.valid">Sauvegarder</button>
        <p class="text-red-500 mt-5" (click)="onDisconnect()">Se déconnecter</p>
    </div>
    <hr class="my-2"/>
    <h1 class="text-center font-bold">Abonnements</h1>
    <div class="flex">
        <div class="flex flex-col self-center min-lg:w-[calc(50%-2rem)] max-lg:w-[calc(100%-1rem)] post_display">
            <h2 class="font-bold">Titre du thème</h2>
            <p>
                Lorem ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled...
            </p>
            <button class="button_bgpurple_colorwhite self-center my-5">Se désabonner</button>
        </div>
        
        <div class="flex flex-col self-center  min-lg:w-[calc(50%-2rem)] max-lg:w-[calc(100%-1rem)] post_display">
            <h2 class="font-bold">Titre du thème</h2>
            <p>
                Lorem ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled...
            </p>
            <button class="button_bgpurple_colorwhite self-center my-5">Se désabonner</button>
        </div>
    </div>
</div>