<div class="flex flex-col justify-center">
    <div class="flex justify-center mt-14">
        <h1>Se connecter</h1>
    </div>
    <div class="mt-15 flex flex-col justify-center items-center">
        <form (ngSubmit)="onSubmit()">
            <div class="flex flex-col my-12">
                <label for="username">E-mail ou Nom d'utilisateur</label>
                <input type="text" formControlName="username" class="form-control input_borderblack" id="username" required>
            </div>
            <div class="flex flex-col my-12">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control input_borderblack" id="password" required>
            </div>
        </form>
        <button type="submit" class="button_bgpurple_colorwhite" [disabled]="!registerForm.valid">Se connecter</button>
    </div>
</div>