<app-header></app-header>
<div class="flex flex-col justify-center">
    <div class="flex justify-center mt-14">
        <h1>Inscription</h1>
    </div>
    <div class="mt-15 flex flex-col justify-center items-center">
        <!-- Affichage du message d'erreur -->
        <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col my-12">
                <label class="text-center" for="name">Nom d'utilisateur</label>
                <input type="text" formControlName="name" class="form-control input_borderblack" id="name" required>
            </div>
            <div class="flex flex-col my-12">
                <label class="text-center" for="email">Adresse e-mail</label>
                <input type="email" formControlName="email" class="form-control input_borderblack" id="email" required>
            </div>
            <div class="flex flex-col my-12">
                <label class="text-center" for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control input_borderblack" id="password" required>
            </div>
            <button type="submit" class="button_bgpurple_colorwhite" [disabled]="!registerForm.valid">S'inscrire</button>
        </form>
        
    </div>
</div>
