<div>
  <div class="flex flex-col">
    <p>Titre de l'article sélectionné</p>
    <div class="flex">
        <p>Date</p>
        <p class="mx-6">Auteur</p>
        <p>Thème</p>
    </div>
    <p>
        Lorem ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled...
    </p>
    <hr/>
    <p>Commentaires</p>
    <div class="flex">
        <p>username</p>
        <div class="post_display">
            contenu du commentaire
        </div>
    </div>
  </div>
</div>
