<app-header></app-header>

<div class="min-lg:p-10 max-lg:p-5 mt-14" *ngIf="post">
  <div class="flex flex-col">
    <h2>{{ post.title }}</h2>
    <div class="flex my-4">
      <p>{{ post.date }}</p>
      <p class="mx-6">{{ post.author }}</p>
      <p>{{ post.topicName }}</p>
    </div>
    <p>{{ post.content }}</p>
    <hr class="my-4"/>
    <p>Commentaires</p>
    <div *ngFor="let comment of comments" class="flex justify-center mt-5 w-full">
      <div className="w-1/2 flex justify-center">
        <p class="mr-4">{{ comment.username }}</p>
      </div>
      <div class="post_display w-1/2">
        {{ comment.content }}
      </div>
    </div>
    <div class="flex justify-center">
      <textarea class="w-1/2 h-40 mt-5 p-2 border-black border-2 rounded-xl" placeholder="Ecrivez ici votre commentaire" [(ngModel)]="newComment"></textarea>
      <button class="button_bgpurple_colorwhite self-center ml-5 mt-5" (click)="onComment()">Commenter</button>
    </div>
  </div>
</div>
